#cajacookies {
  background-color: white;
  bottom:10px;
  box-shadow: 0px 0px 5px 5px; /* #808080; */
  color: black;
  font-size: 140%;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 30px;
  padding: 10px;
  position: fixed;
  top: auto;
  width: 80%;
}

#cajacookies button {
  background: orange;
  color: black;
  float: right;
}
