{# templates/base.html.twig #}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html" ;=";" charset="utf-8" />
  <!-- | Important for Responsive | -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block site_title %} {{ 'site.title'|trans }} {% endblock site_title %}
  </title>

  {% block stylesheets %}
  <!-- Google Fonts CSS -->
  <link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <!-- FontAweSome min CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <!-- Our CSS -->
  <link href="{{ asset('css/master.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/cookies.css') }}" type="text/css" rel="stylesheet" />
  {% endblock stylesheets %}
  <link rel="shortcut icon" href="{{ asset('images/logo/favicon.png') }}" />
</head>

<body>

  <div id="blog" class="container">

    {% block header %}
    <div class="row">
      <div class="col-md-12">
        <header id="header">
          <hgroup>
            <h2>
                  {% block site_headline %}
                    <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo/logo.png') }}"/></a>
                  </img>
                {% endblock site_headline %}
              </h2>
            <h3>
                {% block site_tagline %}
                  <a href="{{ path('homepage') }}">{{ 'site.tagline'|trans({}, 'messages') }}</a>
            {% endblock site_tagline %}
            </h3>
          </hgroup>
        </header>
      </div>
    </div>
    {% endblock header %} {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="{{ path('homepage') }}" style="color:#337ab7">{{ 'nav.home'|trans }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('about') }}" style="color:#337ab7">{% trans %}nav.about{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}" style="color:#337ab7">{% trans %}nav.contact{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('search') }}" style="color:#337ab7">{% trans %}nav.search{% endtrans %}</a>
          </li>
        </ul>
      </div>
    </nav>
    <br> {% endblock navbar %}

    <div class="card card-default">

      <div class="card-body">
        <div class="container-fluid">

          <!--|| The content of the Homepage will be here ||-->
          <section class="main-col">
            {% block body %}{% endblock body %}
          </section>
          <!--|| The content of the Sidebar will be here ||-->
          <aside class="wrapper sidebar">
            {% block sidebar %}{% endblock sidebar %}
          </aside>

        </div>
      </div>
      {% block footer %}
      <!--|| Share in social networks the page that the user is reading ||-->
      <div class="card-footer footer">

        <div id="socialNetworks" class="text-center">
          <a id="shareFB" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
              <i class="fab fa-facebook-f fa-2x" alt="Share on Facebook"/>
            </i>

            <a id="shareTW" target="_blank" href="http://twitter.com/home?status={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
              <i class="fab fa-twitter fa-2x" alt="Share on Twitter"/>
            </i>
          </div>
          <div id="footerInfo" class="text-center">

            <a href="#" target="_blank">{% trans %}footer.copy{% endtrans %}</a> &copy; 2020-{{ "now" | date("Y") }}
          <a href="mailto://{{ 'footer.mail.username'|trans }}@{{ 'footer.mail.domain'|trans }}">{{ 'footer.mail.title'|trans }}</a>.
          <br>
          <ul class="">
            <li><a href="#">{{ 'legal.terms'|trans}}</a></li>
            <li><a href="#">{{ 'legal.disclaimer'|trans}}</a></li>
            <li><a href="#">{{ 'legal.policy'|trans}}</a></li>
            <li><a href="#">{{ 'legal.imprint'|trans}}</a></li>
          </ul>
        </div>
      </div>
      {% endblock footer %}
    </div>

<!-- Cookie -->
<div id = "cajacookies" class="container">
<p> <button onclick = "acceptCookies ()" class = "pull-right"> <i class = "fa fa-times"> </i> {{ 'cookies.accept'|trans({}, 'cookies') }} </button>
{{ 'cookies.notice'|trans({}, 'cookies') }} <a href="#"> {{ 'cookies.privacy.policy'|trans({}, 'cookies') }} </a>.
</p>
</div>

    {% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <!-- FontAweSome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>

    <!-- CookieConsent JS -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="{{ asset('js/master.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/cookie.js') }}"></script>

    {% endblock javascripts %}

  </div>

</body>

</html>
